h1 {
    background-color: #4aaaa5;
    color: white;
    margin: auto;
    width: 280px;
    padding: 35px;
    text-align: center;
    float: left;
    display: inline; 
}

body {
    background-color: #ffffff;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.hFont {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.topnav {
    float:right;
    list-style-type: none;
    margin-right: 150px;
    padding: 0;
}

li {
    display: inline;
}

li a {
    display: inline-block;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid rgb(163, 163, 163);
}

li a:hover {
    background-color: rgb(68, 68, 68);
}

img {
    float: left;
    padding: 20px;
}

.aboutMe {
    border: solid;
    width: 960px;
    padding: 20px;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: rgb(68, 68, 68);
    color: rgb(163, 163, 163);
    margin-top: 20px;
    border-top-style: solid;
    border-color: #4aaaa5;
    border-width: 10px;
}

p {
    line-height: 175%;
}